/* ================= FULL SCREEN HERO ================= */

.profile-section{
  min-height:100vh;              /* full screen */
  display:flex;
  align-items:center;            /* vertical center */
  padding:40px 0;                /* breathing space for small screens */
}

/* ================= ENTRY ANIMATION ================= */

.slide-up{
  opacity:0;
  transform:translateY(60px);
  animation:slideUp 1s ease forwards;
}

@keyframes slideUp{
  to{
    opacity:1;
    transform:translateY(0);
  }
}

/* ================= DETAILS BOX ================= */

.profile-details-box{
  width:100%;
  max-width:900px;
  min-height:400px;
  padding:15px;
  margin:10px;
  display:flex;
  flex-direction:column;
  
}

/* ================= TEXT ================= */

.intro-text{
  font-size:clamp(28px,5vw,50px);
  color:#9CA3AF;
  margin:0;
}

.hero-name{
  font-size:clamp(48px,80vw,100px);
  font-weight:700;
  color:#4386e9;
  margin:0;
  line-height:1.1;
}

/* ================= LINKS ================= */

.links-row{
  display:flex;
  flex-wrap:wrap;       /* allow wrap for mid screens */
  gap:14px;
  margin-top:auto;
  align-items:center;
}

/* prevent shrinking */

.links-row > div{
  flex-shrink:0;
}

/* divider */

.divider{
  width:1px;
  height:24px;
  background:white;
  flex-shrink:0;
}

/* ================= MOBILE ================= */

@media (max-width:768px){

.profile-section{
  align-items:flex-start;   /* better mobile spacing */
  padding-top:50px;
}

.links-row{
  padding-top: 20px;;
  flex-direction:column;
  align-items:center;
}

.divider{
  width:60px;
  height:1px;
}

.hero-name{
  font-size:clamp(48px,22vw,100px);
  font-weight:700;
  color:#4386e9;
  margin:0;
  line-height:1.1;
}

}

/* ================= IMAGE SIZE CONTROL ================= */

/* default (mobile + small screens) */
.profile-section img{
  max-width:280px;
}

/* tablet */
@media (min-width:768px){
  .profile-section img{
    max-width:340px;
  }
}

/* laptop and above */
@media (min-width:992px){
  .profile-section img{
    max-width:450px;   /* ⭐ slightly bigger */
  }
}