/* ===== SECTION ===== */
.certificate-section {
  margin-top: 50px;
}

/* ===== GLASS CONTAINER ===== currently commented*/
/*
.certificate-glass {
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.4),
    0 40px 80px rgba(0, 0, 0, 0.5);
  padding: 30px;
}
*/

/* ===== HEADING ===== */
.certificate-heading {
  font-family:"Poppins", sans-serif;
  margin-bottom: 25px;
  color: #ffffff;
  font-size:clamp(28px,4vw,48px);
  font-weight:700;
  color:#4386e9;
}

/* ===== certificate CARD ===== */
.certificate-card {
  max-width: 300px;
  width: 100%;
  min-height: 300px;
  padding: 20px;

  background-color: rgba(255, 255, 255, 0.03) !important;

  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.08);

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.4),
    0 40px 80px rgba(0, 0, 0, 0.5);

  transition: 0.3s;
}

/* override bootstrap body */
.certificate-card .card-body {
  background: transparent !important;
}

/* ===== IMAGE ===== */
.certificate-img {
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
}

/* ===== TITLE FIX (IMPORTANT) ===== */
.certificate-title {
  margin-top: 10px;
  font-family:"Poppins", sans-serif;
  font-size: clamp(20px, 2.5vw, 28px);

  color: #ffffff !important;   /* 🔥 force override */
}

/* also override bootstrap h5 */
.certificate-card .card-title {
  color: #ffffff !important;
}

/* ===== LINK ===== */
.certificate-link {
  text-decoration: none;
  color: #00bfff;
}